



{% load static %}

{% block body %}

{% include 'navigation.html' %}
<div class =" row container-fluid" style="margin-top:1%">
    <img src="{% static 'images/bg.PNG' %}" class="img-responsive" style ="height:810px; width:1520px " >

    <div class="container-fluid " style="background-color : black">
                 

                <div class="col-sm  text-center m-2 pt-2" style=" font-size : 15px ; text-align : center">
                  
                       <span style="color : white ">Copyright <sup>Ⓒ</sup> - 2023 Pythonic | All rights reserved <br></span>
                       <span class="" style="font-size : 15px ; color : white">Follow us :</span>
                       
                       <span style=" font-size : 30px ; color : white  ">
                           <span><i class="fa-brands fa-twitter"></i></span>
                           <span><i class="fa-brands fa-github"></i></span>
                           <span><i class="fa-brands fa-facebook "></i></span>
                           <span><i class="fa-brands fa-instagram "></i></span>
                       </span><br>
                       <img src="{% static 'images/Pythonic_logo.png' %}" alt="" style="width:160px; height:70px ; object-fit:contain">       
                </div>
    </div>
</div>

<div class="col-sm-4  ">
    
</div>

    {% endblock %}